// global configuration
params {

    // output
    outdir = "."
    keep_workdir = "false"
    publishdir = "${params.outdir}/results"
    infodir = "${params.outdir}/pipeline_info"
    // infodir = "." // write files locally for aws batch jobs, due to the limitation on writting 'trace.txt' to s3 bucket. Also requires 'overwrite' option for the attempted runs to write 'report.html' to s3 bucket

    // resources
    resourcesdir = "../resources" // provide your resource directory path eg. "s3://npm-grids/resources"
    reference = "${params.resourcesdir}/Homo_sapiens_assembly38.fasta"
    gap_regions = "${params.resourcesdir}/gap.txt.gz"

    // help
    params.help = null
}

nextflow.enable.dsl=1

plugins {
  id "nf-amazon"
}

// awsbatch setting
aws.client.downloadParallel = true
aws.batch.maxParallelTransfers = 8
aws.client.maxConnections = 4

// environment-specific configuration
profiles {
    singularity {
        includeConfig 'conf/base.config'
        includeConfig 'conf/singularity.config'
    }
    docker {
        includeConfig 'conf/base.config'
        includeConfig 'conf/docker.config'
        // executor.pollInterval = "2 sec"
    }
    awsbatch {
        includeConfig 'conf/base.config'
        includeConfig 'conf/awsbatch.config'
    }
}

// sample-specific configuration to be provided through args
// see tests/sample_params.yml for an example
params {
    sample_id = null
    bam_cram = null
}

// generate trace
trace {
    enabled = true
    file = "${params.infodir}/trace.txt"
}

// generate timeline
timeline {
    enabled = true
    file = "${params.infodir}/timeline.html"
}

report {
    enabled = true
    file = "${params.infodir}/report.html"
}

// generate dag
dag {
    enabled = true
    file = "${params.infodir}/dag.pdf"
}
