// global configuration
params {

    // output
    outdir = "."
    keep_workdir = "false"
    publishdir = "${params.outdir}/results"
    infodir = "${params.outdir}/pipeline_info"
    // infodir = "." // write the files locally for aws batch jobs due to the limitation on writting 'trace.txt' to s3 bucket. Also requires 'overwrite' option for the attempted runs to write 'report.html'.

    // help
    params.help = null
}

plugins {
  id "nf-amazon"
}

aws.client.downloadParallel = true
aws.client.maxConnections = 4
aws.batch.maxParallelTransfers = 8

// Container slug. Stable releases should specify release tag!
// Developmental code should specify :dev
process.container = 'cbig/npm-sample-qc:v0.51'
docker.enabled = true

// Load base.config by default
includeConfig 'conf/base.config'

// Load resources.config by default
includeConfig 'conf/resources.config'

// environment-specific configuration
profiles {
    singularity {
        includeConfig 'conf/singularity.config'
    }
    docker {
        includeConfig 'conf/docker.config'
        // executor.pollInterval = "2 sec"
    }
    awsbatch {
        includeConfig 'conf/awsbatch.config'
    }
}

docker.runOptions = '-u \$(id -u):\$(id -g)'

// sample-specific configuration to be provided through args
// see tests/NA12878_1000genomes-dragen-3.7.6/params.yml for an example

// generate trace
trace {
    enabled = true
    file = "${params.infodir}/trace.txt"
}

// generate timeline
timeline {
    enabled = true
    file = "${params.infodir}/timeline.html"
}

report {
    enabled = true
    file = "${params.infodir}/report.html"
}

// generate dag
dag {
    enabled = true
    file = "${params.infodir}/dag.pdf"
}

manifest {
  name = 'npm-sample-qc'
  author = 'Justin Jeyakani, Mar Gonzalez-Porta, Maxime HEBRARD, Rodrigo Toro, Nicolas Bertin'
  homePage = 'https://github.com/c-BIG/NPM-sample-qc'
  description = 'Nextflow NPM-sample-qc analysis pipeline, part of the GHIF community.'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.04.0'
  version = '0.51'
}
