/*
 *  Nextflow config file for awsbatch profile
 */

executor {
   name = 'awsbatch'
}

aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

docker.enabled = true

process {
    region = ""       // your AWS region eg. "ap-southeast-1" 
    queue = ""        // your AWS batch queue name eg. "npm-sample-qc-queue"
    container = ""    // the npm-sample-qc container AWS URI eg. "xxxxxxxxx.dkr.ecr.ap-southeast-1.amazonaws.com/npm-sample-qc:latest"
    errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
    maxRetries = 2 
}
