/* -------------------------------------------------
 *  Base Nextflow config file
 * -------------------------------------------------
 * This file contains basic process requirement setup. It DOES NOT
 * contain any config for cluster, so will run in default mode by
 * itself.
 */
process {

    errorStrategy = 'finish'

    withName:cram_to_bam {
        time = '4 h'
        cpus = 4
        memory = '1 GB'
    }
    withName:samtools_stats {
        time = '2 h'
        cpus = 4
        memory = '1 GB'
    }
    withName:samtools_flagstat {
        time = '30 min'
        cpus = 4
        memory = '1 GB'
    }
    withName:bcftools_stats {
        time = '30 min'
        cpus = 4
        memory = '1 GB'
    }
    withName:bcftools_gtcheck {
        time = '30 min'
        cpus = 4
        memory = '1 GB'
    }
    withName:picard_collect_quality_yield_metrics {
        time = '2 h'
        cpus = 4
        memory = '2 GB'
    }
    withName:picard_collect_insert_size_metrics {
        time = '2 h'
        cpus = 4
        memory = '2 GB'
    }
    withName:picard_collect_variant_calling_metrics_vcf {
        time = '2 h'
        cpus = 4
        memory = '2 GB'
    }
    withName:picard_collect_variant_calling_metrics_gvcf {
        time = '2 h'
        cpus = 4
        memory = '2 GB'
    }
    withName:picard_collect_alignment_summary_metrics {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:picard_collect_gc_bias_metrics {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:picard_collect_wgs_metrics {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:sg10k_cov_062017 {
        time = '1 h'
        cpus = 4
        memory = '1 GB'
    }
    withName:count_variants {
        time = '1 h'
        cpus = 4
        memory = '1 GB'
    }
    withName:calculate_callability {
        time = '2 h'
        cpus = 4
        memory = '32 GB'
    }
    withName:verifybamid2 {
        time = '2 h'
        cpus = 4
        memory = '2 GB'
    }
    withName:plot_bamstats {
        time = '30 min'
        cpus = 1
        memory = '1 GB'
    }
    withName:multiqc {
        time = '1 h'
        cpus = 1
        memory = '1 GB'
    }
    withName:compile_metrics {
        time = '1 h'
        cpus = 1
        memory = '1 GB'
    }
}
