/* -------------------------------------------------
 *  Base Nextflow config file
 * -------------------------------------------------
 * This file contains basic process requirement setup. It DOES NOT
 * contain any config for cluster, so will run in default mode by
 * itself.
 */
process {

    withName:samtools_stats {
        cpus = 4 
        disk = '1 GB'
        memory = '1 GB'
    }
    withName:mosdepth_bam {
        cpus = 4
        disk = '2 GB'
        memory = '2 GB'
    }
    withName:mosdepth_cram {
        cpus = 4
        disk = '2 GB'
        memory = '2 GB'
    }
    withName:mosdepth_datamash {
        cpus = 1
        disk = '1 GB'
        memory = '1 GB'
    }
    withName:picard_collect_multiple_metrics_bam {
        cpus = 4
        disk = '2 GB'
        memory = '2 GB'
    }
    withName:picard_collect_multiple_metrics_cram {
        cpus = 4
        disk = '2 GB'
        memory = '2 GB'
    }
    withName:multiqc {
        cpus = 1
        disk = '1 GB'
        memory = '1 GB'
    }
    withName:compile_metrics {
        cpus = 1
        disk = '1 GB'
        memory = '1 GB'
    }
}
