/* -------------------------------------------------
 *  Base Nextflow config file
 * -------------------------------------------------
 * This file contains basic process requirement setup. It DOES NOT
 * contain any config for cluster, so will run in default mode by
 * itself.
 */
mail {
    smtp.host = 'localhost'
}


process {

    errorStrategy = 'finish'

    withName:cram_to_bam {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:samtools_stats {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:samtools_flagstat {
        time = '1 h'
        cpus = 1
        memory = '1 GB'
    }
    withName:bcftools_stats {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:bcftools_gtcheck {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:picard_collect_quality_yield_metrics {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:picard_collect_alignment_summary_metrics {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:picard_collect_wgs_metrics {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:picard_collect_insert_size_metrics {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:picard_collect_gc_bias_metrics {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:picard_collect_variant_calling_metrics {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:verifybamid2 {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    withName:multiqc {
        time = '1 h'
        cpus = 1
        memory = '1 GB'
    }
    withName:compile_metrics {
        time = '1 h'
        cpus = 1
        memory = '1 GB'
    }
    /*withName:indexcov {*/
        /*time = '4 h'*/
        /*cpus = 1*/
        /*memory = '4 GB'*/
    /*}*/
}
