/*
 *  Nextflow config file for local profile
 */

executor {
   name = 'local'
}

executor {
   name = 'local'
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    container = 'NPM-sample-qc/containers/npm-sample-qc.simg'
    errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
    maxRetries = 2 
}
