// global configuration
params {
    // execution
    container = "npm-sample-qc.simg"
    // output
    keep_workdir = "false"
    publishdir = "${params.outdir}/results"
    infodir = "${params.outdir}/pipeline_info"
    // resources
    resourcesdir = "/data/13000026/pipeline/dev/NPM-sample-qc-aux/resources"
    ref_fa = "${params.resourcesdir}/Homo_sapiens_assembly38.fasta"
    dbsnp_vcf = "${params.resourcesdir}/common_all_20180418.chr.vcf.gz"
    vbi2_svdprefix = "${params.resourcesdir}/1000g.phase3.100k.b38.vcf.gz.dat"
    autosomes_bed = "${params.resourcesdir}/Homo_sapiens_assembly38.autosomes.bed"
    n_regions_bed = "${params.resourcesdir}/Homo_sapiens_assembly38.autosomes.n_regions.bed"
    // help
    params.help = null
}

// environment-specific configuration
profiles {
    local {
        includeConfig 'base.config'
        process.executor = "local"
        process.container = 'NPM-sample-qc/containers/npm-sample-qc.simg' //create singularity image by running containers/singularity.sh
        process.errorStrategy = "retry"
        process.maxRetries = 2
        singularity.enabled = true
        singularity.autoMounts = true
    }
    docker {
        includeConfig 'base.config'
        process.executor = "local"
        process.container = "npm-sample-qc:latest" // build npm-sample-qc docker image from containers/Dockerfile
        process.errorStrategy = "retry"
        process.maxRetries = 2
        // executor.pollInterval = "2 sec"
        docker.enabled = true
    }
    awsbatch {
        includeConfig 'base.config'
        process.executor = "awsbatch"
        process.region = ""       // your AWS region eg. "ap-southeast-1"
        process.queue = ""        // your AWS batch queue name eg. "npm-sample-qc-queue"
        process.container = ""    // the npm-sample-qc container AWS URI eg. "xxxxxxxxx.dkr.ecr.ap-southeast-1.amazonaws.com/npm-sample-qc:latest"
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        process.errorStrategy = "retry"
        process.maxRetries = 2 
        docker.enabled = true
    }
    nscc {
        includeConfig 'base.config'
        includeConfig 'nscc.config'
    }
}

// sample-specific configuration
// to be provided through args
// see tests/sample_params.yml for an example
params {
    sample_id = null
    cram = null
    vcf = null
    pst_vcf = null
}

// generate trace
trace {
    enabled = true
    file = "${params.infodir}/trace.txt"
}

// generate timeline
timeline {
    enabled = true
    file = "${params.infodir}/timeline.html"
}

// generate dag
dag {
    enabled = true
    file = "${params.infodir}/dag.pdf"
}
