/*
 *  Nextflow config file for NSCC profile
 */

executor {
   name = 'pbspro'
   queueSize = 100
   pollInterval = '300 sec'
}

singularity {
    enabled = true
    cacheDir = '/data/13000026/pipeline/dev/NPM-sample-qc-aux/containers'
}

process {
    container = singularity.cacheDir + '/' + params.container
    module = 'singularity/3.4.0'
    queue = 'production'
    maxRetries = 2
    errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
    clusterOptions = "-P 13000026"    // SG10K project id
}
