/*
 *  Nextflow config file for NSCC profile
 */


mail {
  smtp.host = 'localhost'
  smtp.user = 'NSCC'
}


executor {
   name = 'pbspro'
   queueSize = 100
   pollInterval = '300 sec'
}


singularity {
    enabled = true
    cacheDir = '/data/users/astar/gis/rpd/containers/'
}

// cannot move this into process because params.container gets access as process.params.container
// despite https://github.com/nextflow-io/nextflow/issues/733
process.container = singularity.cacheDir + '/' + params.container

process {   
    module = 'singularity/2.5.1'
    queue = 'production'
    maxRetries = 2
    errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
    // SG10K project id
    clusterOptions = "-P 13000026"
    // auto translate container name into conda environment name
    // `set -u` triggers `CONDA_PATH_BACKUP: unbound variable` on `source activate`
    // beforeScript = { 'source /data/users/astar/gis/rpd/rc/init.2017-10; module load miniconda3; set +u; source activate ' + params.container.replaceAll(/[\/:]/, '-') + '; set -u;' }
}

