// resources

//The white-listed region file 'autosomes_non_gap_regions.bed' derived from the following..
//download gap regions from http://hgdownload.soe.ucsc.edu/goldenPath/hg38/database/gap.txt.gz 
//create autosomes bed file from reference genome index (fai) - head -22 ${fai} |awk '{print \$1"\t0""\t"\$2}' > autosomes.bed
//zcat gap.txt.gz |cut -f2-4 -|egrep -v '_|-|X|Y'|sort -k1,1V -k2,2n > gap_regions.bed
//bedtools subtract -a autosomes.bed -b gap_regions.bed >autosomes_non_gap_regions.bed

params {
    reference = "s3://1000genomes-dragen-3.7.6/references/fasta/hg38.fa"
    autosomes_non_gap_regions = "../../resources/autosomes_non_gap_regions.bed"
}
