// Resources

// The reference file is required only when the input alignment file format is CRAM.
// See resources/README.rst for details on autosomes_non_gap_regions.bed creation

params {
    reference = "s3://1000genomes-dragen-3.7.6/references/fasta/hg38.fa"
    autosomes_non_gap_regions = "${projectDir}/resources/autosomes_non_gap_regions.bed"
    //autosomes_non_gap_regions = "https://github.com/c-BIG/NPM-sample-qc/raw/v${manifest.version}/resources/autosomes_non_gap_regions.bed"
    vbi2_svdprefix = "1000g.phase3.100k.b38.vcf.gz.dat"
    vbi2_ud = "${projectDir}/resources/verifybamid/1000g.phase3.100k.b38.vcf.gz.dat.UD"
    vbi2_bed = "${projectDir}/resources/verifybamid/1000g.phase3.100k.b38.vcf.gz.dat.bed"
    vbi2_mean = "${projectDir}/resources/verifybamid/1000g.phase3.100k.b38.vcf.gz.dat.mu"
}
